{% extends 'base.html.twig' %}


{% block body %}

<!--
    <h1>Edition d'un point de distribution.</h1>

    Affiche les détails spécifiques à un point de distribution

    <ul>
        <li>Un formulaire permettra d'ajouter ou modifier les informations liées au pdi.</li>
    </ul>

-->
    <div class="jumbotron">
        <h1>{{pdiNum}} {{pdiLibelle}} <small>{{pdiLibelle.VilleId.PostalCode}} {{pdiLibelle.VilleId.Name}}</small></h1>
        {{form_start(formPdi)}}
            {{form_widget(formPdi)}}
            <button type="submit" class="btn btn-primary">
                {% if editMode %}
                    Mettre à jour
                {% else %}
                    Ajouter
                {% endif %}
            </button>
        {{form_end(formPdi)}}
    </div>
    
    

{% endblock %}
