{% extends 'base.html.twig' %}


{% block body %}

<!--
    <h1>AFFICHAGE DE LA LISTE DES TOURNEES</h1>

    Affiche la liste de toutes les tournées.

    <ul>
        <li>Un boutton permettra de supprimer une tournée.</li>
        <li>Un autre permettra d'en ajouter une nouvelle.</li>
        <li>Cliquer sur une tournée enverra sur la page de visualisation des pdis de celle-ci.</li>
    </ul>
-->
<div class="jumbotron">
    <h1>Liste des tournées.</h1>
    <p>
        <a href="{{ path('tournee_new') }}" class="btn btn-primary btn-sm">Nouvelle tournée</a>
    </p>
    
    <table class="table table-hover table-striped table-primary">
        {% for tournee in tournees %}
            <tr style="cursor: pointer;" onclick="window.location='{{ path('tournee_show', {'id': tournee.id}) }}';">
                <td>{{tournee.name}}</td>
                <td>Dernière modification le {{ tournee.createdAt | date('d/m/Y à H:m') }}</td>
                <!--<td><a href="{{ path('tournee_delete', {'id': tournee.id}) }}">X</a></td>-->
            </tr>
        {% endfor %}
    </table>
</div>
    

{% endblock %}
