{% extends 'base.html.twig' %}


{% block body %}
    <h1>Tournee {{ tournee.name }}</h1>


<!--
    Affiche des pdis d'une tournée spécifique

    <ul>
        <li>Un boutton permettra de supprimer un pdi.</li>
        <li>Un autre permettra d'en ajouter un nouveau.</li>
        <li>Il faudra pouvoir les déplacer.</li>
        <li>Cliquer sur un pdi nous enverra sur une page pour éventuellement le modifier.</li>
    </ul>

-->


    <table class="table table-hover table-striped">
        <tr><th>numéro</th><th>rue</th><th>nom</th></tr>
        {% for pdi in tournee.pdis %}
            <tr style="cursor: pointer;" onclick="window.location='{{ path('pdi_edit', {'id': pdi.id}) }}';">
                <td>{{pdi.numero}}</td>
                <td>{{pdi.libelleid.name}}</td>
                <td>{{pdi.clientName}}</td>
            </tr>
        {% endfor %}
    </table>
    

{% endblock %}
