{% extends 'base.html.twig' %}


{% block body %}
<!--
    Affiche des pdis d'une tournée spécifique

    <ul>
        <li>Un boutton permettra de supprimer un pdi.</li>
        <li>Un autre permettra d'en ajouter un nouveau.</li>
        <li>Il faudra pouvoir les déplacer.</li>
        <li>Cliquer sur un pdi nous enverra sur une page pour éventuellement le modifier.</li>
    </ul>

-->

<div class="jumbotron">
    <h1>Tournee {{ tournee.name }}</h1>
    <table class="table table-hover table-striped table-primary">
        <tr><th>numéro</th><th>rue</th><th>nom</th><th>options</th></tr>
        {% for pdi in tournee.pdis %}
            <tr style="cursor: pointer;" onclick="window.location='{{ path('pdi_edit', {'tournee' : tournee.id, 'pdi': pdi.id}) }}';">
                <td>{{pdi.numero}}</td>
                <td>{{pdi.libelleid.name}}</td>
                <td>{{pdi.clientName}}</td>
                <td><a href="{{ path('pdi_new', {'tournee' : tournee.id, 'order' : pdi.ordre + 1 }) }}">Ajouter en dessous</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

    

{% endblock %}
