{% extends 'base.html.twig' %}

{% block title %}Gestion admin{% endblock %}

{% block body %}
    
    <!--
    <ul>
        <li>Cette page affichera la liste des utilisateurs</li>
        <li>Il sera possible d'en créer, modifier ou supprimer.</li>
        <li>Il faudra impérativement être connecté sur un compte administrateur pour avoir accès à cette page</li>
    </ul>
    -->

    <div class="jumbotron">
        <h1>Interface de gestion de l'administrateur.</h1>
        <h2>Liste des Utilisateurs.</h2>
        <p>
            <a href="{{ path('user_new') }}" class="btn btn-primary btn-sm">Nouvel utilisateur</a>
        </p>
        <table class="table table-hover table-striped table-primary">
            <tr><th>Nom</th><th>Role</th><th></th></tr>
            {% for user in users %}
                <tr style="cursor: pointer;" onclick="window.location='{{ path('user_edit', {'id': user.id}) }}';">
                    <td>{{user.name}}</td>
                    {# <td>{% for role in user.roles %}
                            {{ role }} 
                        {% endfor %}</td> #}
                    {# <td>{{dump(user.roles) | join()}}</td> #}
                    {# <td>{{ user.roles|json_encode(constant('JSON_PRETTY_PRINT')) }} </td> #}
                    {# <td>{{user.roles | join(', ')}}</td> #}
                    {# <td>{% for role in user.roles %}
                            {{role}}
                        {% endfor %}
                    </td> #}
                    <td><a href="{{ path('user_delete', {'id': user.id}) }}">X</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
